.paragraph {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    color: $dark700;
    &[data-font='dark'] {
        color: $dark900;
    }
    &[data-font='light'] {
        color: $dark500;
    }
    &[data-font='primary'] {
        color: $primary700;
    }
}
