@import '@/shared/styles/normalize';

html,
body {
    width: 100%;
    height: 100%;
    color: $dark900;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.layout {
    max-width: $main-size;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 24px auto;
    padding: 0 1rem 16rem 1rem;
    transition: all 0.1s;
}

ul {
    list-style: disc;
    padding-left: 1.5em;

    & li::marker {
        color: $dark300;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}