@import '@/shared/styles/normalize';

html,
body {
    height: 100%;
    color: $dark900;
}

body {
    max-width: $main-size;
    margin: 64px auto;
    padding: 0 20px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.layout {
    display: flex;
    flex-direction: column;
}
